{% extends 'base.html' %}


{% block content %}
<section class="section-main">
    <div class="container">
        <div class="row">
            {% for obj in object_list %}
            <div class="col-12">
                <div class="tile">
                    <a href="{{obj.url}}" class="title">{{obj.title}}</a>
                    <div class="descr">{{obj.description}}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}